{
  "env": {
      "browser": true,
      "node": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
	"plugins": [
		"react",
		"jsx-a11y",
		"import"
	],
  "rules": {
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": 0,
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }]
  }
}
